<turbo-stream action="update" target="flash">
  <template>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == "notice" ? "success" : "danger" %> alert-dismissible fade show flash-message floating-flash" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </template>
</turbo-stream>
