<div id="comments-section" class="content-section d-none" data-user-sidebar-target="commentsSection">
  <h4>Your Comments</h4>
  <% if @comments.any? %>
    <% @comments.each do |rubit| %>
      <%= render partial: "rubits/rubit_with_context", locals: { rubit: rubit } %>
    <% end %>
  <% else %>
    <p>You don't have any comments yet.</p>
  <% end %>
</div>
