<div class="row">

  <%= render 'shared/trending_users' %>

  <div class="col-md-6">
    <%= render 'rubits/rubit_form', parent_rubit: nil %>
    <hr>
    <% @rubits.each do |rubit| %>
      <%= render partial: 'rubits/rubit', locals: { rubit: rubit } %>
    <% end %>
  </div>

  <%= render 'shared/trending_hashtags' %>
</div>
