<div class="row">
  <!-- Trending Users Section -->
  <%= render 'shared/trending_users' %>

  <!-- Main Rubit Feed -->
  <div class="col-md-6">
    <%= render 'rubits/rubit_form', parent_rubit: nil %>
    <hr>
    <% @rubits.each do |rubit| %>
      <%= render partial: 'rubits/rubit', locals: { rubit: rubit } %>
    <% end %>
  </div>

  <!-- Trending Hashtags Section -->
  <%= render 'shared/trending_hashtags' %>
</div>
