<div class="row">

  <%= render 'shared/trending_users' %>

  <div class="col-md-6">
    <div id="rubit_<%= @rubit.id %>">
      <%= render 'rubits/rubit', rubit: @rubit %>
    </div>
  </div>

  <%= render 'shared/trending_hashtags' %>
</div>
