<div class="row">

  <%= render 'shared/trending_users' %>

  <div class="col-md-6">
    <%= link_to 'Back to Feed', rubits_path, class: 'btn btn-sm btn-danger mt-1' %>
    <%= render 'rubits/child_rubit', rubit: @rubit %>
  </div>

  <%= render 'shared/trending_hashtags' %>
</div>
