<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E0115F;">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <%= image_tag 'logo.png', alt: 'Rubitter Logo', class: 'navbar-icon' %>
    </a>


    <a class="navbar-brand ms-auto" href="#">
      <%= image_tag 'account.png', alt: 'Account', class: 'navbar-icon' %>
    </a>
  </div>
</nav>
